UnitTestProject1/Connected Services/GameShopWarehouseService/GameShopWarehouseService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Temporary_Listen_Addresses/GameShopWarehouseService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Models" />
  <xs:import schemaLocation="http://localhost/Temporary_Listen_Addresses/GameShopWarehouseService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Enums" />
  <xs:element name="GetAllItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Models" minOccurs="0" name="GetAllItemsResult" nillable="true" type="q1:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Enums" minOccurs="0" name="itemtype" type="q2:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Models" minOccurs="0" name="GetItemsByTypeResult" nillable="true" type="q3:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsWithNoQty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsWithNoQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Models" minOccurs="0" name="GetItemsWithNoQtyResult" nillable="true" type="q4:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Models" minOccurs="0" name="item" nillable="true" type="q5:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNewItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Models" minOccurs="0" name="GetItemByIdResult" nillable="true" type="q6:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Models" minOccurs="0" name="item" nillable="true" type="q7:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>